<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
    
</head>

<body>
    <h1>{{teststringa}}</h1>
    <h2>{{pageTite}}</h2>
    
    <form action="">
        <input id="inpt" type="text">
        <button id="btn01" type="submit">Wstaw</button>
    </form>
    <div id="input_01"></div>


    <script src="./../js/func.js"></script>
</body>
</html>